{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <span>
    <section>
      <main>
        <article>
          <div class = "test">
          </div>

          <div class = "initial-moniter">
            <div class = "first-view">
              <div class = "firstView-imageArea">
                <img src = "{% static 'selbo/img/firstView.jpg' %}">
              </div>
              <div class = "firstView-textArea">
                <h2>testtesttest</h2>
                <p>testtesttesttesttesttesttesttesttesttesttesttesttest</p>
              </div>
              <div class = "firstView-formArea">
                <div class = "form-body">
                  <div class = "form-titleArea">
                    <a class = "title-logo" href = "index.html">
                      test
                    </a>
                  </div>
                  <div class = "form-bodyArea">
                    <form class = "form-item" method = "post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <h2>自分に合った本探しの旅へ</h2>
                      <div class = "form-buttonArea twiter-buttonArea">
                        <button class = "twitter-button" type = "button">
                          <span class = "coreSpriteTwitterIconInverted"></span>
                          "Twitterでログイン"
                        </button>
                      </div>
                      <div class = "form-buttonArea facebook-buttonArea">
                        <button class = "facebook-button" type = "button">
                          <span class = "coreSpriteFacebookIconInverted"></span>
                          "Facebookでログイン"
                        </button>
                      </div>
                      <div class = "form-buttonArea google-buttonArea">
                        <button class = "google-button" type = "button">
                          <span class = "coreSpriteGoogleIconInverted"></span>
                          "Googleでログイン"
                        </button>
                      </div>

                      <div class = "splitArea">
                        <div class = "line-splitArea"></div>
                        <div class = "letter-spliteArea">または</div>
                        <div class = "line-splitArea"></div>
                      </div>

                      <div class = "form-inputArea">
                        <div class = "form-inputColumn">
                          <label class = "form-summaryLabel">
                            <span class = "form-summary">メールアドレス</span>
                            <input class = "form-summaryInput" aria-label="メールアドレス" aria-required="true" autocapitalize="off" autocorrect="off" autocomplete="tel" name="emailOrPhone" type="text" value="">
                          </label>
                          <div class = "emptyArea"></div>
                        </div>
                      </div>
                      <div class = "form-inputArea">
                        <div class = "form-inputColumn">
                          <label class = "form-summaryLabel">
                            <span class = "form-summary">ユーザーID</span>
                            <input class = "form-summaryInput" aria-label="ユーザーID" aria-required="false" autocapitalize="sentences" autocorrect="off" name="userID" type="text" value="">
                          </label>
                          <div class = "emptyArea"></div>
                        </div>
                      </div>
                      <div class = "form-inputArea">
                        <div class = "form-inputColumn">
                          <label class = "form-summaryLabel">
                            <span class = "form-summary">ユーザーネーム</span>
                            <input class = "form-summaryInput" aria-label="ユーザーネーム" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30"  name="userName" type="text" value="">
                          </label>
                          <div class = "emptyArea"></div>
                        </div>
                      </div>
                      <div class = "form-inputArea">
                        <div class = "form-inputColumn">
                          <label class = "form-summaryLabel">
                            <span class = "form-summary">パスワード</span>
                            <input class = "form-summaryInput" aria-label="パスワード" aria-required="true" autocapitalize="off" autocorrect="off" autocomplete="new-password" name="password" type="password" value="">
                          </label>
                          <div class = "emptyArea"></div>
                        </div>
                      </div>

                      <div class = "form-buttonArea regist-buttonArea">
                        <button class = "regist-button" type = "submit">登録する</button>
                      </div>

                      <p>
                        "登録することで、Twitter、Facebook、googleの"
                        <a target = "_blank" href = "">利用規約</a>
                        "、"
                        <a target = "_blank" href = "">データに関するポリシー</a>
                        "、"
                        <a target = "_blank" href = "">Cookieポリシー</a>
                        "に同意するものとします。"
                      </p>
                    </form>
                  </div>
                </div>
                <div class = "form-footer">
                  <p>"アカウントをお持ちですか？"
                    <a href = "">ログインする</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </main>
      <footer>
      </footer>
    </section>
  </span>
  <a class = "btn" href = "">新規メモ作成</a>
  {% for memo in memos %}
    <a href = "" class = "memo-title">
      <div>
        {{ memo }}
        <span class = "updated_datetime">{{ memo.updated_datetime }}</span>
      </div>
    </a>
  {% endfor %}

{% endblock %}
