{% extends "base.html" %}
{% block content %}

<div class="profile-area">
  <div class="profile-img-area">
    <img src='{{ MEDIA_URL }}{{ account.profile_img }}' width=200>
  </div>
  <div class="profile-content-area">
    {% if user.is_authenticated and request_pk == user.id %}
      <a class="btn btn-primary" href="{% url 'Crud:edit' account.id %}">プロフィール編集</a>
    {% endif %}
    <h2 class="user-id-num">{{ account.id }}</h2>
    <h2 class="user-name">{{ account.username }}</h2>
    <h2 class="book-regist-num">{{ book_regist_num }}</h2>
  </div>
</div>

<div class="bookshelf-area">
  {% for mybook in book_info %}
  <div class="mybook_area">
    <div class="book_image_area">
      <img src='{{ MEDIA_URL }}{{ mybook.1 }}' width=200>
    </div>
  {% endfor %}
</div>

{% endblock %}
