{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}会員の編集{% endblock title %}

{% block content %}
    <span>
      <section>
        <main>
          <article>
            <div class = "test">
            </div>

            <div class = "initial-moniter">
              <div class = "first-view">
                <div class = "firstView-imageArea">
                  <img src = "{% static 'Crud/img/firstView.jpg' %}">
                </div>
                <div class = "firstView-textArea">
                  <h2>testtesttest</h2>
                  <p>testtesttesttesttesttesttesttesttesttesttesttesttest</p>
                </div>
                <h3 class="page-header">会員の登録</h3>
                <form action="{% url 'Crud:add' %}" method="post" class="form-horizontal" role="form">
                  {% csrf_token %}
                  {{ form|bootstrap_horizontal }}
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">送信</button>
                    </div>
                  </div>
                </form>
                <a href="{% url 'Crud:index' %}" class="btn btn-default btn-sm">戻る</a>
                </div>
              </div>
            </article>
          </main>
          <footer>
          </footer>
        </section>
      </span>
{% endblock content %}
